.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 2.5rem;
  border: 0.1rem solid rgba(224, 26, 79);
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(224, 26, 79, 0.4);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #E01A4F;
  color: white;
}

.choice-text {
  padding: 1.5rem;
}

.correct {
  background-color: #30FF89;
}

.incorrect {
  background-color: #ED1A3D;
}

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 3rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #E01A4F;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #E01A4F;
  width: 0%;
}

#loader {
  border: 1.5rem solid transparent;
  border-radius: 50%;
  border-top: 1.5rem solid #56a5eb;
  width: 12rem;
  height: 12rem;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}